@font-face {
	font-family: calibri;
	font-weight: 400;
	src: url('./font/calibri-regular.ttf');
}

@font-face {
	font-family: calibri;
	font-weight: 500;
	src: url('./font/calibri-bold.ttf');
}

* {
	font-family: calibri;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
}

ul {
	list-style: disc;
	padding-left: 20px;
}

h1 {
	font-size: 18px;
}

p,
h1,
h2 {
	margin-block: 5px;
}

nav {
	max-width: 80%;
	margin-inline: auto;
	ul {
		list-style: none;
		display: flex;
		justify-content: space-between;
	}
	a {
		text-decoration: none;
	}
}

section {
	max-width: 60%;
	margin-inline: auto;
}
